* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F7EFED;

  }
  
  .logo {
    padding: 10px;
    font-size: calc(2 * 1rem);
  }
  
  header {
    padding: 3vw 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    color: black;
    /* font: 16px; */
    text-decoration: none;
    padding: 10px;
  }

  nav ul li a:hover {
    background-color: #E16460;
    transition: all 1.5s;
    border-radius: 5px;
  }
  
  /* Push the ul items to the right */
  nav ul {
    margin-left: auto;
  }
  


  /* section 1 */

  section {
    padding: 50px 0;
    text-align: center;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }

h1 {
    margin: 2rem 0;
    font-weight: 400;
    font-size: calc(2.8*1rem);
    letter-spacing: .02em;
    text-transform: none;

}

p {
    font-size: calc(1.5*1rem);
}

/* button */

.btn {
    padding: 25px 20px;
    font-size: 16px;
    background-color: #E16460;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    max-width: 500px;
    margin: 25px auto;
}  

.btn a {
    text-decoration: none;
    background-color: #E16460;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

/* make btn responsive on smaller screens  */
@media (max-width: 768px){
    .btn {
        font-size: 14px;
    }
}


/* img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    max-width: auto;
} */

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}


  /* .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}  */



#about .container {
    display: flex;
    align-items: flex-start;
}

#about .container p {
    flex: 1;
    margin-right: 20px;
   
}

#about .container h3 {
    flex: 2;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.02em;
    text-align: left;
}


/*grid info*/
#grid-container {
  display: grid;
  grid-template-columns: (1fr, 2fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F7EFED;
  font-size: 24px;
  font-weight: bold;
  height: 150px;
  margin: 0 auto;
  padding: 5px auto;
}

.grid-item h3 {
  margin-bottom: 10px;
}




#grid-containernew {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  margin-top: 120px;
}

#grid-containernew .item {
  flex: 1;
  max-width: 50%;
}
#grid-containernew .item .image img {
  max-width: 100%;
  height: auto;
  display: block;
}

#grid-containernew .item.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

#grid-containernew .item.description p {
  padding: 25px;
  text-align: left;
  font-size: 32px;
}


@media  screen and (max-width:768px){
  #grid-containernew .item {
    flex: 1 1 100%;
    max-width: 100%;
  }
  #grid-containernew .item.description {
    font-size: 18px;
  }
}


section img {
  margin-top: 10em;
}